<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="iee-img">
          <img src="/assets/pes.jpg" alt="logo" class="img-fluid">
        </div>
      </div>
      <div class="col-md-8">
        <div class="home mt-3">
          <div class="d-flex">
            <div class="v-line"></div>
            <div class="home-caption">
              <h2>IEE PES</h2>
              <p class="text-muted">
                <strong>vision:</strong> To lead in getting the electrical power and energy engineering students ready to work
                professionally in the industry.
                <br>
                <strong>mission:</strong> To keep adding value and providing students with the technicalities and scientific
                information needed to get into the electrical power and energy industry ready.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>