<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="home mt-3">
          <div class="d-flex">
            <div class="v-line"></div>
            <div class="home-caption">
              <h2>About</h2>
              <p class="text-muted">
                A Student Branch is the primary element of IEEE which offers the opportunity to meet and learn from
                fellow students, our mission, as well as faculty members and professionals in the field through
                activates as : -Technical and Non-Technical Sessions. -Seminars. -Workshops. -Competitions. -Tours and
                field trips. Also, Student Branches provide an opportunity for IEEE Student Members to begin networking
                in their areas of interest and future profession. There are over 3,000 Student Branches in over 100
                countries, globally.
              </p>
            </div>
          </div>
        </div>
        <div class="follow-us">
          <div class="d-flex">
            <div class="v-line"></div>
            <div class="follow-caption">
              <h2>Follow Us</h2>
            </div>
          </div>
          <div class="social-links pt-4 pl-3">
            <div class="d-flex">
              <div><a href="https://facebook.com/IEEE.ElShoroukAcademy.SB/" target="_blank"><img class="pr-4"
                    src="/assets/facebook.png" alt="facebook"></a></div>
              <div><a href="https://twitter.com/IEEE_SHA_SB" target="_blank"><img class="pr-4" src="/assets/twitter.png"
                    alt="twitter"></a></div>
              <div><a href="https://www.youtube.com/channel/UCZPqv3j4EnPVz4jqj_Rrwwg" target="_blank"><img class="pr-4"
                    src="/assets/youtube.png" alt="youtube"></a></div>
              <div><a href="https://www.instagram.com/ieee.sha.sb/" target="_blank"><img class="pr-4"
                    src="/assets/instagram-sketched.png" alt="instagram"></a></div>
              <div><a href="http://linkedin.com/company/ieee-el-shorouk-academy-student-branch" target="_blank"><img
                    class="pr-4" src="/assets/linkedin.png" alt="instagram"></a></div>
              <div><a href="#" target="_blank"><img src="/assets/google-plus.png" alt="google-plus"></a></div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="iee-form mt-3">
          <div class="d-flex">
            <div class="v-line"></div>
            <div class="contact-caption">
              <h2>Contact Us</h2>
            </div>
          </div>
        </div>
        <form class="mt-4">
          <div class="form-group d-flex">
            <span><img src="/assets/user.png" alt="user"></span>
            <input type="text" placeholder="First Name" class="form-control ml-3" required>
          </div>
          <div class="form-group d-flex">
            <span><img src="/assets/at.png" alt="user"></span>
            <input type="mail" placeholder="E-mail" class="form-control ml-3" required>
          </div>
          <div class="form-group d-flex">
            <span><img src="/assets/usermail.png" alt="user"></span>
            <textarea type="text" placeholder="Write Your Message" class="form-control ml-3" cols="30" rows="10"
              required></textarea>
          </div>
          <div class="form-group text-right">
            <button>SEND</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="copy-rights text-center">
    <span>All Copyright © 2020 Reserved To IEEE El Shrouk Academy SB</span>
  </div>
</footer>