<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="home mt-3">
                  <div class="d-flex">
                    <div class="v-line"></div>
                    <div class="home-caption">
                      <h2>About</h2>
                      <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis vero exercitationem nesciunt
                        laboriosam! Culpa magni, ea ratione sint vel corrupti odit temporibus laborum cupiditate praesentium
                        perferendis beatae neque, eum minima?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis
                        facilis perspiciatis quibusdam labore eius optio debitis laborum est quae asperiores maiores nobis
                        soluta beatae ipsa assumenda, quod similique! Commodi, laboriosam. Lorem ipsum dolor sit amet
                        consectetur, adipisicing elit. Ratione et quod necessitatibus odio dolorum quam, expedita culpa
                        provident quaerat reiciendis modi accusamus maiores, recusandae natus aperiam atque eaque fugiat
                        asperiores.</p>
                    </div>
                  </div>
                </div>
                <div class="follow-us">
                    <div class="d-flex">
                        <div class="v-line"></div>
                        <div class="follow-caption">
                            <h2>Follow Us</h2>
                        </div>
                    </div>
                    <div class="social-links pt-4 pl-3">
                        <div class="d-flex">
                            <div><a href="#"><img class="pr-4" src="/assets/facebook.png" alt="facebook"></a></div>
                            <div><a href="#"><img class="pr-4" src="/assets/twitter.png" alt="twitter"></a></div>
                            <div><a href="#"><img class="pr-4" src="/assets/youtube.png" alt="youtube"></a></div>
                            <div><a href="#"><img class="pr-4" src="/assets/instagram-sketched.png" alt="instagram"></a></div>
                            <div><a href="#"><img class="pr-4" src="/assets/linkedin.png" alt="instagram"></a></div>
                            <div><a href="#"><img src="/assets/google-plus.png" alt="google-plus"></a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="iee-form mt-3">
                    <div class="d-flex">
                        <div class="v-line"></div>
                        <div class="contact-caption">
                            <h2>Contact Us</h2>
                        </div>
                    </div>
                </div>
                <form class="mt-4">
                    <div class="form-group d-flex">
                        <span><img src="/assets/user.png" alt="user"></span>
                        <input type="text" placeholder="First Name" class="form-control ml-3" required>
                    </div>
                    <div class="form-group d-flex">
                        <span><img src="/assets/at.png" alt="user"></span>
                        <input type="mail" placeholder="E-mail" class="form-control ml-3" required>
                    </div>
                    <div class="form-group d-flex">
                        <span><img src="/assets/usermail.png" alt="user"></span>
                        <textarea type="text" placeholder="Write Your Message" class="form-control ml-3" cols="30" rows="10" required></textarea>
                    </div>
                    <div class="form-group text-right">
                        <button type="submit">SEND</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="copy-rights text-center">
        <span>All Copyright © 2020 Reserved To IEEE El Shrouk Academy SB</span>
    </div>
</footer>