<section>
    <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="iee-img">
              <img src="/assets/logo.jpg" alt="logo" class="img-fluid">
            </div>
          </div>
          <div class="col-md-8">
            <div class="home mt-3">
              <div class="d-flex">
                <div class="v-line"></div>
                <div class="home-caption">
                  <h2>What is Lorem Ipsum?</h2>
                  <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis vero exercitationem nesciunt
                    laboriosam! Culpa magni, ea ratione sint vel corrupti odit temporibus laborum cupiditate praesentium
                    perferendis beatae neque, eum minima?Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corporis
                    facilis perspiciatis quibusdam labore eius optio debitis laborum est quae asperiores maiores nobis
                    soluta beatae ipsa assumenda, quod similique! Commodi, laboriosam. Lorem ipsum dolor sit amet
                    consectetur, adipisicing elit. Ratione et quod necessitatibus odio dolorum quam, expedita culpa
                    provident quaerat reiciendis modi accusamus maiores, recusandae natus aperiam atque eaque fugiat
                    asperiores.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</section>