<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="iee-img">
          <img src="/assets/logo.jpg" alt="logo" class="img-fluid">
        </div>
      </div>
      <div class="col-md-8">
        <div class="home mt-3">
          <div class="d-flex">
            <div class="v-line"></div>
            <div class="home-caption">
              <h2>IEEE SHA</h2>
              <p class="text-muted">
                A Student Branch is the primary element of IEEE which offers the opportunity to meet and learn from
                fellow students, our mission, as well as faculty members and professionals in the field through
                activates as :
                -Technical and Non-Technical Sessions.
                -Seminars.
                -Workshops.
                -Competitions.
                -Tours and field trips.
                Also, Student Branches provide an opportunity for IEEE Student Members to begin networking in their
                areas of interest and future profession. There are over 3,000 Student Branches in over 100 countries,
                globally.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>