<section class="mt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-4 py-3 border-bottom">
                <div class="content text-center">
                    <img src="/assets/lamp.png" alt="lamp">
                    <p>8</p>
                    <h4>Workshop</h4>
                </div>
            </div>
            <div class="col-md-4 py-3 border-bottom">
                <div class="content text-center">
                    <img src="/assets/student.png" alt="lamp">
                    <p>1324</p>
                    <h4>Student</h4>
                </div>
            </div>
            <div class="col-md-4 py-3 border-bottom">
                <div class="content text-center">
                    <img src="/assets/vote.png" alt="lamp">
                    <p>254</p>
                    <h4>Volanteer</h4>
                </div>
            </div>
        </div>
    </div>
</section>