<!-- sideBar -->
<div class="side-bar-parent">
  <div class="side-bar-child">
    <div class="container-fluid">

      <div class="close-icon">
        <img src="/assets/logo.jpg" alt="logo" class="float-left pt-3" style="height: 70px;">
        <img src="/assets/close.png" alt="close" class="p-3 float-right close">
        <div class="clearfix"></div>
      </div>
      <hr>
      <div class="contact-us">
        <h2>Contact Us</h2>
      </div>

      <div class="tel">
        <div class="d-flex">
          <div>
            <img src="/assets/call.png" alt="call">
          </div>
          <div>
            <a href="tel:01007912539" class="pt-3 pl-3 mt-2">+ 01007912539</a>
          </div>
        </div>
      </div>

      <div class="mail pt-3">
        <div class="d-flex">
          <div>
            <img src="/assets/mail.png" alt="call">
          </div>
          <div>
            <a href="#" class="pt-3 pl-3 mt-2">IEEE@example.com</a>
          </div>
        </div>
      </div>

      <div class="location pt-3">
        <div class="d-flex">
          <div>
            <img src="/assets/pin.png" alt="call">
          </div>
          <div>
            <a class="pt-3 pl-3 mt-2">El Shrouk Academy</a>
          </div>
        </div>
      </div>
      <hr>
      <div class="follow-us">
        <h2>Follow Us</h2>
      </div>
      <div class="social-media">
        <div class="d-flex">
          <div><a href="#"><img class="pr-3" src="/assets/facebook.png" alt="facebook"></a></div>
          <div><a href="#"><img class="pr-3" src="/assets/twitter.png" alt="twitter"></a></div>
          <div><a href="#"><img class="pr-3" src="/assets/youtube.png" alt="youtube"></a></div>
          <div><a href="#"><img class="pr-3" src="/assets/instagram-sketched.png" alt="instagram"></a></div>
          <div><a href="#"><img class="pr-3" src="/assets/linkedin.png" alt="instagram"></a></div>
          <div><a href="#"><img src="/assets/google-plus.png" alt="google-plus"></a></div>
        </div>
      </div>
      <hr>
      <div class="about-us">
        <h2>About Us</h2>
        <p class="text-muted">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt quaerat dicta possimus, tenetur eum deleniti
          rerum eius perferendis voluptatem quos, laborum consectetur temporibus est sequi, tempora at officiis odit
          expedita!</p>
      </div>

    </div>
  </div>
</div>

<!-- navbar -->
<nav class="navbar navbar-expand-md fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img style="height: 70px;" src="/assets/logo.jpg" class="img-fluid" alt="logo"></a>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav m-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Our Workshop</a>
        </li>
      </ul>
    </div>
    <div class="three-lines">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</nav>