<!-- sideBar -->
<div class="side-bar-parent">
  <div class="side-bar-child">
    <div class="container-fluid">

      <div class="close-icon">
        <img src="/assets/logo.jpg" alt="logo" class="float-left pt-3" style="height: 70px;">
        <img src="/assets/close.png" alt="close" class="p-3 float-right close">
        <div class="clearfix"></div>
      </div>
      <hr>
      <div class="contact-us">
        <h2>Contact Us</h2>
      </div>

      <div class="tel">
        <div class="d-flex">
          <div>
            <img src="/assets/call.png" alt="call">
          </div>
          <div>
            <a href="tel:01022897333" class="pt-3 pl-3 mt-2">+ 01022897333</a>
          </div>
        </div>
      </div>

      <div class="mail pt-3">
        <div class="d-flex">
          <div>
            <img src="/assets/mail.png" alt="call">
          </div>
          <div>
            <a href="#" class="pt-3 pl-3 mt-2">info@ieeeshasb.org</a>
          </div>
        </div>
      </div>

      <div class="location pt-3">
        <div class="d-flex">
          <div>
            <img src="/assets/pin.png" alt="call">
          </div>
          <div>
            <a class="pt-3 pl-3 mt-2">El Shrouk Academy</a>
          </div>
        </div>
      </div>
      <hr>
      <div class="follow-us">
        <h2>Follow Us</h2>
      </div>
      <div class="social-media">
        <div class="d-flex">
          <div><a href="https://facebook.com/IEEE.ElShoroukAcademy.SB/" target="_blank"><img class="pr-3"
                src="/assets/facebook.png" alt="facebook"></a></div>
          <div><a href="https://twitter.com/IEEE_SHA_SB" target="_blank"><img class="pr-3" src="/assets/twitter.png"
                alt="twitter"></a></div>
          <div><a href="https://www.youtube.com/channel/UCZPqv3j4EnPVz4jqj_Rrwwg" target="_blank"><img class="pr-3"
                src="/assets/youtube.png" alt="youtube"></a></div>
          <div><a href="https://www.instagram.com/ieee.sha.sb/" target="_blank"><img class="pr-3"
                src="/assets/instagram-sketched.png" alt="instagram"></a></div>
          <div><a href="http://linkedin.com/company/ieee-el-shorouk-academy-student-branch" target="_blank"><img
                class="pr-3" src="/assets/linkedin.png" alt="instagram"></a></div>
          <div><a href="#" target="_blank"><img src="/assets/google-plus.png" alt="google-plus"></a></div>
        </div>
      </div>
      <hr>
      <div class="about-us">
        <h2>About Us</h2>
        <p class="text-muted">
          A Student Branch is the primary element of IEEE which offers the opportunity to meet and learn from fellow
          students, our mission, as well as faculty members and professionals in the field through activates as :
          -Technical and Non-Technical Sessions. -Seminars. -Workshops. -Competitions. -Tours and field trips. Also,
          Student Branches provide an opportunity for IEEE Student Members to begin networking in their areas of
          interest and future profession. There are over 3,000 Student Branches in over 100 countries, globally.
        </p>
      </div>

    </div>
  </div>
</div>

<!-- navbar -->
<nav class="navbar navbar-expand-md fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><img style="height: 70px;" src="/assets/logo.jpg" class="img-fluid" alt="logo"></a>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav m-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Our Workshop</a>
        </li>
      </ul>
    </div>
    <div class="three-lines">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </div>
</nav>