
<!-- navigation links -->
<div class="navigation">
    <div class="link-content">
        <div class="toggler-icon" (click)="toggleMe()">
            <img src="/assets/chevron.png" alt="guide" >
        </div>
        <div class="nav-content">
            <a href="#">
                <img src="/assets/house.png" alt="home">
                <span>Home</span>
            </a>
        </div>
        <div class="nav-content">
            <a href="#">
                <img src="/assets/about.png" alt="home">
                <span>About Us</span>
            </a>
        </div>
        <div class="nav-content">
            <a href="#">
                <img src="/assets/contact-us.png" alt="home">
                <span>Contact Us</span>
            </a>
        </div>
        <div class="nav-content">
            <a href="#">
                <img src="/assets/workshop.png" alt="home">
                <span>Workshops</span>
            </a>
        </div>
    </div>
</div>
<!-- loading page -->
<div class="loading-page">
    <div class="hidden-div"></div>
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>  
</div>

<!-- page up -->
<div class="page-up">
  <img src="/assets/up-arrow.png">
</div>
<app-navbar></app-navbar>
<app-home></app-home>
<app-survey></app-survey>
<app-home2></app-home2>
<app-home3></app-home3>
<app-footer></app-footer>