<header>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="iee-img">
          <img src="/assets/logo.jpg" alt="logo" class="img-fluid">
        </div>
      </div>
      <div class="col-md-8">
        <div class="home mt-3">
          <div class="d-flex">
            <div class="v-line"></div>
            <div class="home-caption">
              <h2>IEEE EGYPT SECTION</h2>
              <p class="text-muted">
                IEEE, An association dedicated to advancing innovation and technological excellence for the benefit of
                humanity, is the world’s largest technical professional society. It is designed to serve professionals
                involved in all aspects of the electrical, electronic, and computing fields and related areas of science
                and technology that underlie modern civilization.
                The IEEE is divided into different categories according to geographical regions, technical aspects, and expertise.
Geographically, The IEEE divides the world into 10 regions. IEEE Egypt Section lies in Region 8, which includes Europe sections, Africa, and Middle East Sections.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>